.section-title h5{
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.section-title h5::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #3d9970;
    bottom: 0;
    left: calc(50% - 25px);
  }

fieldset{
    padding: 15px;
    border: 1px #b9b9b9 solid;
    border-radius: 5px;
    margin: 10px 0;
}

legend{
    font-weight: 700;
    font-size: 11px;
    font-family: "segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    padding: 5px;
    width: auto;
    float: none;
}

.page-link:hover {
    color: #3d9970;
  }

  .page-link{
    color: #3d9970;
  }

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #3d9970;
    border-color: #3d9970;
  }


.btn-xs {
    font-size: 12px;
    padding: 5px;
  }

.pull-right{
    float: right;
}
